@import "src/app/core/sass/index";

.trend-graph-container {
  padding: 0 2rem 4rem;

  .trend-graph-title {
    font-weight: bold;
    color: $white;
    font-size: 2rem;
  }

  .chart-container {
    background: $white;
    border-radius: 1rem;
  }
}

@include tablet {
  .trend-graph-container {
    padding: 0 2rem;

    .trend-graph-title {
      font-size: 3rem;
    }

    .chart-container {
      height: 40rem;
    }
  }
}

@include desktop {
  .trend-graph-container {
    padding: 0;
  }
}
