<div class="trend-graph-container">
  <div class="title-container">
    <h1 class="trend-graph-title">Tendencias</h1>
    <span class="material-icons-outlined icon pointer" (click)="getGraphInterpretation()">
      analytics
    </span>
  </div>

  <div class="chart-container">
    <canvas
      baseChart
      [datasets]="barChartConfig.chartData"
      [labels]="barChartConfig.chartLabels"
      [options]="barChartOptions"
      [legend]="false"
      [type]="'bar'"
    >
    </canvas>
  </div>

  <p class="info">
    * Si deseas conocer el resumen textual de tus tendencias, haz clic en el ícono que se encuentra
    al lado del título.
  </p>
</div>
