@import "src/app/core/sass/index";

.trend-graph-container {
  padding: 0 2rem 4rem;

  .title-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: $white;
    margin-bottom: 2rem;

    .trend-graph-title {
      margin: 0;
      font-weight: bold;
      font-size: 2rem;
    }

    .icon:hover {
      color: $blue-light;
    }
  }

  .chart-container {
    background: $white;
    border-radius: 1rem;
  }

  .info {
    margin-top: 0.5rem;
    color: $white;
    font-size: 1rem;
    font-style: italic;
  }
}

@include tablet {
  .trend-graph-container {
    padding: 0 2rem;

    .title-container .trend-graph-title {
      font-size: 3rem;
    }

    .chart-container {
      height: 40rem;
    }
  }
}

@include desktop {
  .trend-graph-container {
    padding: 0;
  }
}
