<div class="mood-selector-container">
  <h1 class="title">¿Cómo te sientes hoy?</h1>
  <mat-card class="mat-card">
    <mat-card-content class="card-content">
      <mat-radio-group [(ngModel)]="selectedMood">
        <mat-radio-button
          *ngFor="let mood of moods"
          [value]="mood.value"
          class="radio-button"
        >
          <section class="label-container">
            <p class="emoji">{{ mood.emoji }}</p>
            <p class="text-mood">{{ mood.label }}</p>
          </section>
        </mat-radio-button>
      </mat-radio-group>
      <textarea
        matInput
        placeholder="Cuentame sobre tu día"
        class="text-tarea"
        [(ngModel)]="journalEntry"
      ></textarea>
      <button
        mat-raised-button
        class="button"
        (click)="submitForSentimentAnalysis(selectedMood, journalEntry)"
      >
        Enviar
      </button>
    </mat-card-content>
  </mat-card>
</div>
