<div class="mood-selector-container">
  <h1 class="title">¿Cómo te sientes hoy?</h1>
  <mat-card class="mat-card">
    <mat-card-content class="card-content">
      <form [formGroup]="moodForm">
        <mat-radio-group formControlName="mood" required>
          <mat-radio-button
            *ngFor="let mood of moods"
            class="radio-button"
            [value]="mood.value"
            (change)="getSelectedMood($event.value)"
          >
            <section
              class="label-container pointer"
              [class.selected-mood]="mood.value === selectedMood"
            >
              <p class="emoji">{{ mood.emoji }}</p>
              <p class="text-mood">{{ mood.label }}</p>
            </section>
          </mat-radio-button>
        </mat-radio-group>
        <textarea
          matInput
          placeholder="Cuentame sobre tu día"
          class="text-tarea"
          formControlName="journalEntry"
        ></textarea>
      </form>
      <button mat-raised-button class="button pointer" (click)="onSave()">Guardar</button>
    </mat-card-content>
  </mat-card>
</div>
