<div class="menu-container">
  <div class="option-group" [routerLink]="['/', 'inicio']">
    <span class="material-icons-outlined icon" [class.active]="active === 'inicio'"> home </span>
    <span class="btn-title" [class.active]="active === 'inicio'">Inicio</span>
  </div>

  <div class="option-group" [routerLink]="['/', 'resumen']">
    <span class="material-icons-outlined icon" [class.active]="active === 'resumen'">
      calendar_month
    </span>
    <span class="btn-title" [class.active]="active === 'resumen'"> Resumen </span>
  </div>
</div>
