<div class="global-wrapper">
  <mat-drawer-container class="drawer-container">
    <mat-drawer
      class="drawer"
      disableClose="true"
      mode="side"
      [opened]="true"
      [style.width.rem]="isDrawerOpen ? 26 : 11"
    >
      <app-navigation-menu
        class="flex-column"
        [active]="active"
        [class.closed-aligned]="!isDrawerOpen"
        [isDrawerOpen]="isDrawerOpen"
      >
      </app-navigation-menu>
    </mat-drawer>

    <mat-drawer-content
      style="display: flex; height: 100vh"
      [style.marginLeft.rem]="isMobile ? 0 : isDrawerOpen ? 26 : 11"
    >
      <ng-content class="content-container"></ng-content>

      <app-navigation-menu
        *ngIf="isMobile"
        class="container"
        [active]="active"
      ></app-navigation-menu>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
