// Primary Colors
$white: #fff;
$black: #000;
$red: #d82a49;
$green: #3bc171;
$Yellow: #f2d16d;

$gray-light: #afafaf;
$gray-medium: #4b4b4b;
$gray-dark: #313131;
$blue-light: #69c1f7;
$blue-dark: #0574f2;
