@import "src/app/core/sass/index";

.mat-drawer-content {
  flex-direction: column;
  justify-content: space-between;
  background-color: $gray-dark;
}

mat-drawer .mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  overflow: hidden;
}

.mat-mdc-radio-button .mdc-radio {
  position: absolute;
  z-index: -1;
}

.fc-h-event {
  background-color: transparent;
  border: none;
}

@include tablet {
  .mat-drawer-content {
    justify-content: flex-start;
  }

  div:where(.swal2-container).swal2-center > .swal2-popup {
    font-size: 1.4rem;

    .swal2-title {
      font-size: 2.5rem;
    }
  }
}

@include desktop {
  .mat-mdc-radio-button .mdc-radio {
    width: 5rem;
    height: 5rem;
    cursor: pointer;
  }

  div:where(.swal2-container).swal2-center > .swal2-popup {
    font-size: 2rem;

    .swal2-title {
      font-size: 3rem;
    }
  }
}
